.bg-image{
    background-image: url('../../../assests/herosection.jpg');
    background-size:cover;
    width: 900px;
    height: 650px;
}

.bg_gradient {
    background-image: linear-gradient(to right, rgba(66, 42, 60, 1) 68% , rgba(66, 42, 60, 0.80)80% , rgba(66, 42, 60, 0.31) ,rgba(66, 42, 60, 0.05) );
    height: 650px;
    width: 1000px;
    position: relative;
    z-index: 1;   
  }

.ih{
    
    color: white;
}

.exp_section{
  background-color:rgba(235, 243, 245, 0.7);
  height: fit-content;
  width:12000;
  padding-bottom: 64px;
}

.container1{
  background-color: rgba(255, 255, 255, 1);
  height: 760px;

  
}
.s_inner{
  
}
  /* Vector */
/* .ima{
box-sizing: border-box;

position: absolute;
left: 8.86%;
right: 8.85%;
top: 8.33%;
bottom: 8.33%;

background: #FFFFFF;
/* MainColor */
/* border: 2px solid #BA7894;
} */ 